<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor50</title>
    <!-- Bootstrap and demo CSS -->
    <link href="{{ STATIC_URL }}css/bootstrapsand.min.css" rel="stylesheet">

    <!-- Yamm styles-->
    <link href="{{ STATIC_URL }}css/yamm.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/opensans.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    -->

   <style>
    html,body {
      height: 100%;
    }
   </style>
  </head>


  <body>
    <!-- Demo navbar -->
        <div id="wrapper">
        <div class="navbar yamm  navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
               <a href="#" class="navbar-brand">Flor50</a>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              <!-- Classic dropdown -->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Catégories<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a tabindex="-1" href="/flor50/gallery/plaisir-doffrir/"  class = "menuitems"> Mariage</a></li>
                  <li><a tabindex="-1" href="#"  class = "menuitems"> Evènements </a></li>
                  <li><a tabindex="-1" href="#"  class = "menuitems"> Abonnements </a></li>
                  <li><a tabindex="-1" href="#"  class = "menuitems"> Amour - Anniversaire...</a></li>
                  <li><a tabindex="-1" href="#"  class = "menuitems"> Décoration Jardin / Locations plantes</a></li>
                  <li><a tabindex="-1" href="#"  class = "menuitems"> Décoration de Noël / Autres</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="#" class = "menuitems"> Deuil</a></li>
                </ul>
              </li>
                <!-- Classic list -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Bouquets<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <!-- Content container to add padding -->
                      <div class="yamm-content">
                        <div class="row">
                          <ul class="col-sm-3 list-unstyled" style="font-family: 'Times'; font-size:12px;">
                            <li>
                              <p><strong>Section Title</strong></p>
                            </li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                          </ul>
                          <ul class="col-sm-3 list-unstyled" style="font-family: 'Times'; font-size:12px;">
                            <li>
                              <p><strong>Links Title</strong></p>
                            </li>
                            <li><a href="#"> Link Item </a></li>
                            <li><a href="#"> Link Item </a></li>
                            <li><a href="#"> Link Item </a></li>
                            <li><a href="#"> Link Item </a></li>
                            <li><a href="#"> Link Item </a></li>
                            <li><a href="#"> Link Item </a></li>
                          </ul>
                          <ul class="col-sm-3 list-unstyled" style="font-family: 'Times'; font-size:12px;">
                            <li>
                              <p><strong>Section Title</strong></p>
                            </li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>List Item</li>
                          </ul>
                          <ul class="col-sm-3 list-unstyled" style="font-family: 'Times'; font-size:12px;">
                            <li>
                              <p><strong>Section Title</strong></p>
                            </li>
                            <li>List Item</li>
                            <li>List Item</li>
                            <li>
                              <ul>
                                <li><a href="#"> Link Item </a></li>
                                <li><a href="#"> Link Item </a></li>
                                <li><a href="#"> Link Item </a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- Accordion demo -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Evènements<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- Classic dropdown -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Abonnements<b class="caret"></b></a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a tabindex="-1" href="#"> Action </a></li>
                    <li><a tabindex="-1" href="#"> Another action </a></li>
                    <li><a tabindex="-1" href="#"> Something else here </a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#"> Separated link </a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

        </div>

        {% block prelude %}
        {% endblock %}

        <div class="container">
          <!-- Carousel -->
          <div class = "containercarousel" >
            {%  block  carousel  %}
            {% endblock %}
          </div>

          <div>
            {% block info %}
            {% endblock %}
          </div>

          {% block content %}
          {% endblock %}

        </div>

  



    <!-- Bootstrap core JavaScript-->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <script>
      $(function() {
        $(document).on('click', '.yamm .dropdown-menu', function(e) {
          e.stopPropagation()
        })
      })
    </script>
  </body>
</html>
